:root {
    --clr-dark: #212121;
    --clr-light: #f5f5f5;
    --clr-grey-100: #d5d5d5;
    --clr-grey-500: #888;
    --clr-acc-500: #ffa000;
    --clr-acc-800: #ff8f00;
    --clr-acc-900: #ff5722;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
    padding: 0 1rem;
    background: #efefef;
    color: var(--clr-dark);
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

body.dark-theme {
    background: #212121;
    color: #f5f5f5;
}

li.dark-theme {
    background: var(--clr-dark);
    color: var(--clr-light);
}

*:focus {
    outline: 3px dashed var(--clr-acc-900);
}

input {
    width: 100%;
    border-radius: 3px 0 0 3px;
    padding-left: 10px;
    font-size: 1rem;
    background: #f0f0f0;
    border: 2px solid #d5d5d5;
}

button {
    padding: 5px 10px;
    width: 90px;
    font-weight: bold;
    border: none;
}

button:hover {
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: inline;
    font-size: 3rem;
    background: -webkit-linear-gradient(0deg, var(--clr-acc-900), var(--clr-acc-500));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dark-mode-button {
    border-radius: 50%;
    background: var(--clr-acc-900);
    color: #525252;
    background: initial;
    height: 55px;
    width: 55px;
    padding: 0;
}

.input-container {
    display: flex;
}

#add-item-button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 0 3px 3px 0;
    background: var(--clr-grey-100);
    flex-shrink: 0;
}

#add-item-button:hover {
    background: #00796b;
    color: #f5f5f5;
}

.ul {
    list-style: none;
    font-size: 1.5rem;
    position: relative;
}

li {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 0 25px;
    border-radius: 2px;
    margin-bottom: 2px;
}

li.checked {
    background: var(--clr-grey-500);
    color: var(--clr-light);
}

li.checked::before {
    content: "";
    position: absolute;
    border-color: var(--clr-dark);
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 12px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

li p {
    margin: 0;
    padding: 0 12px 0 12px;
}

li p:hover {
    cursor: pointer;
    color: var(--clr-light);
    background: var(--clr-acc-800);
    border-radius: 3px;
}

li p:focus {
    outline: 3px dashed var(--clr-acc-900);
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 2px 2px 0;
}

.delete-button:hover {
    background: var(--clr-acc-900);
    color: var(--clr-light);
}